[feature]
https=false
diagnostics=true
deployMode=false

[config]
fps=30
logFile=proxy.log

[connect]
ip=127.0.0.1
port=9960

[allowlist]
id1=microsoft.com
id2=wikia.com
id3=fandom.com
id4=github.com
